@import 'bootstrap';

/* universal */
$light-gray: #777;
$gray-medium-light: #eaeaea;

body{
  padding_top: 60px;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
}
@import 'mixins';
@import '*';
